[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/include/cppitertools"]
	path = external/include/cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
