[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/include/cppitertools"]
	path = external/include/cppitertools
	url = https://github.com/ryanhaining/cppitertools.git
[submodule "external/include/argparse"]
	path = external/include/argparse
	url = https://github.com/jamolnng/argparse.git
[submodule "external/ordered-map"]
	path = external/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "external/include/infint"]
	path = external/include/infint
	url = https://github.com/sercantutar/infint.git
[submodule "external/crystalmountain"]
	path = external/crystalmountain
	url = https://github.com/gwwatkin/crystalmountain.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/rotation-decomposer"]
	path = external/rotation-decomposer
	url = https://github.com/latticesurgery-com/rotation-decomposer.git
[submodule "external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "external/postgres"]
	path = external/postgres
	url = https://github.com/postgres/postgres.git

