[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/include/cppitertools"]
	path = external/include/cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
[submodule "external/include/argparse"]
	path = external/include/argparse
	url = git@github.com:jamolnng/argparse.git
[submodule "external/ordered-map"]
	path = external/ordered-map
	url = https://github.com/Tessil/ordered-map.git
[submodule "external/staq"]
	path = external/staq
	url = https://github.com/softwareQinc/staq
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/include/infint"]
	path = external/include/infint
	url = git@github.com:sercantutar/infint.git
